<form hx-post="{{ url_for('professor.cadastrar') }}" enctype="multipart/form-data" hx-target="#professor-list" hx-swap="innerHTML"  hx-on:afterRequest="this.reset()"  onsubmit="setTimeout(() => this.reset(), 100);" >
    <h2 class="text-center" id="prof_titulo">Cadastrar Professor</h2>
    <div class="mb-3">
        <div class="mb-3">

        <div class="input-group mb-3">
            <span class="input-group-text">
                <img src="{{ url_for('static', filename='img/icon/matricula.png') }}" alt="" width="20" height="20">
            </span>
            <input type="number" class="form-control" placeholder="Nº do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2"name="numero_agente">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><img src="{{ url_for('static', filename='img/icon/user.png') }}" alt="" width="20" height="20"></span>
            <input type="text" class="form-control" placeholder="Nome do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="nome">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text"><img src="{{ url_for('static', filename='img/icon/gmail.png') }}" alt="" width="20" height="20"</span>
            <input type="email" class="form-control" placeholder="E-mail do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="email">
        </div>

       <div class="input-group mb-3">
            <span class="input-group-text"><img src="{{ url_for('static', filename='img/icon/cale.png') }}" alt="" width="20" height="20"</span>
            <input type="date" class="form-control" placeholder="Data de nascimento do professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="data_nascimento">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><img src="{{ url_for('static', filename='img/icon/genero.png') }}" alt="" width="20" height="20"</span>
            
                <select class="form-select" aria-label="Default select example"name="genero"id="genero">
                    <option selected>Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text"><img src="{{ url_for('static', filename='img/icon/camera.png') }}" alt="" width="20" height="20"></span>
            <div class="form-floating">
                <input type="file" class="form-control" placeholder="Foto do Professor" aria-label="Recipient’s username" aria-describedby="basic-addon2" name="imagem" placeholder="foto" accept="image/*" required>
           </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
</form>
