<form hx-confirm="Tem certeza?" hx-put="{{ url_for('professor.editar_professor',id=professor.id) }}" hx-target="#professor-list" hx-swap="innerHTML"  hx-on:afterRequest="this.reset()"  onsubmit="setTimeout(() => this.reset(), 100);">
    <h2 class="text-center">Editar Professor</h2>
    <div class="mb-3">
        <div class="mb-3">
 <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="number" class="form-control" placeholder="Nº do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2"name="numero_agente" value="{{professor.np}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Nome do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="nome" value="{{professor.nome}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="email" class="form-control" placeholder="E-mail do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="email" value="{{professor.email}}">
        </div>
       <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="date" class="form-control" placeholder="Data de nascimento do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="data_nascimento" value="{{professor.data_nasc}} ">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">@</span>
                <select class="form-select" aria-label="Default select example"name="genero"id="genero">
                    <option selected>genero</option>
                    <option value="{{professor.genero}}" selected>{{professor.genero}}</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text"><img src="{{ url_for('static', filename='img/icon/foto.png') }}" alt="" width="20" height="20"></span>
            <div class="form-floating">
                <input type="file" class="form-control" placeholder="Foto do Professor" aria-label="Recipient’s username"aria-describedby="basic-addon2" name="foto">
           </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">actualizar</button>
        </div>
</form>
