<form hx-post="{{ url_for('disciplina.cadastrar') }}" hx-target="#professor-list" hx-swap="outerHTML"  hx-on:afterRequest="this.reset()"  onsubmit="setTimeout(() => this.reset(), 100);">
    <h2 class="text-center" id="prof_titulo">Cadastrar Disciplina</h2>
    <div class="mb-3">
        <div class="mb-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">@</span>
                <select class="form-select" aria-label="Default select example" name="disciplina" id="disciplina">
                    <option selected>Disciplinas</option>
                    {% for disc in disciplinas %}
                    <option value="{{disc.id}}">{{disc.nome}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="Nome da Disciplina"
                    aria-label="Recipient’s username" aria-describedby="basic-addon2" name="nome">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="Sigla da Disciplina"
                    aria-label="Recipient’s username" aria-describedby="basic-addon2" name="sigla">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Adicionar Disciplina</button>
            </div>

</form>
