{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Tela principal</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/vitrine/carrosselVitrine.css">
  <link rel="stylesheet" href="../static/css/vitrine/vitrine.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

 
</head>
<body>

  <!-- Barra de navegação -->
 <header>
   <nav class="navbar navbar-expand-sm">
    <nav class="logo">
     <h3>SGΣA<sub>cadémicos</sub></h3>
    </nav> 
    <div class="itemlogo">
     <img src="../static/iconsVitrine/audio-livro (1).png" alt="">
    </div>
    <ul class="navbar-nav">
     <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
     </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Serviços</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="width: 95px;">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="width: 95px;">Solitar Cadastro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="Login">Login</a>
    </li>
   </ul>
   </nav>
 </header>
 
 <div class="boas-vindas">
  <br> <h1> Seja Bem-Vindo ao Sistema de Gestão de Materiais Didáticos!! </h1>
 </div>

<!-- carrossel -->

  
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="../static/imgVitrine/redes sociais.png" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="../static/imgVitrine/165522193-social-media-elements-on-white-background-counter-notification-border-social-network-comment-and.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="../static/imgVitrine/pc.png" style="width:100%">
  <div class="text">Caption Three</div>
</div>

<a  style="color: gray ;" class="prev" onclick="plusSlides(-1)">❮</a>
<a  style="color: gray ;" class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<!-- Rodapé -->
 <footer>
        <div class="logo-rodape">
            <div class="SIGMA">
        <h1>SIGΣA<sub>cadémicos</sub></h1>
           </div>
        <p style="color:#f8f9fa"> Um site feito por alunos finalistas do Ano 2025/26</p>
        <p style="color: #f8f9fa;"> Contactos:###-###-#33</p>
    </div>
    
    <b style="color:#f8f9fa"> &copy; Todos os direitos reservados </b>
    </footer>

<script src="../static/carrosselVitrine.js">  javaScript</script>



</body>
</html>
{% endblock %}  