*{
box-sizing:border-box ;
}
body{
  text-decoration: none;
  background-color: #f8f9fa;
}
header{
    background-color: #0a3d62;
    padding: 15px;
    height: 100px;
}
.logo{
  font-family: 'playfair';
  font-weight:700;
  font-size: 1,4rem;
  color: #ffc107;
  /* display: flex; */
  
}
.itemlogo{
  margin-left: 10px;
}
.navbar-nav{
  /* border: 1px solid rgb(0, 255, 34); */
  margin-left:  700px;
  color: #f8f9fa;
  transition: all 0.3s ease;
}
.nav-link{
  /* border: 1px solid rgb(199, 14, 14); */
   color: #f8f9fa;
  padding-right: 40px;
  margin-left: 10px;
  transition: all 0.3s ease;

}
.navbar-nav .nav-link:hover{
    border-top: 2px solid #ffc107;
    color: #ffc107;
    
}
#Login{
  font-family: 'playfair';
  text-align: center;
  color: #ffc107;
  width: 60px;
  background-color: #f8f9fa;
  border: 1px solid #ffc107;
  border-radius: 3px;
  
}
#Login:hover{
 background-color: #ffc107;
 color: #f8f9fa;
 border: 1px solid #f8f9fa;
}
.boas-vindas{
  color:#0d6efd;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  text-align: center;
}
footer{
    margin-top: 100px;
    height: 500px;
    background-image: linear-gradient(180deg, #0a3d62, #0c013a, black );
    text-align: center;
    border-top: 5px solid #ffc107;
}
.logo-rodape{
    padding: 100px;
    
}
.SIGMA{
    font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:700;
  font-size: 1,4rem;
  color: #ffc107;
}

@font-face {
  font-family: 'playfair';
  src: url('../static/fontsVitrine/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'), 
  url('../static/fontsVitrine/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
